@page "/candidate/{id}"
@model CandidateModel
@{
    ViewData["Title"] = "برنامج طويق للتوظيف";
}
<div class="max-w-4xl mx-auto" x-data="CandidateViewData" x-cloak>
    <div x-show="!showForm">

        <div class="py-4">

            <button
                class="px-4 py-2 text-white transition-colors duration-300 ease-in-out shadow rounded-xl bg-primary hover:bg-primary/90"
                x-on:click="window.location.href='/'">
                العودة للقائمة
            </button>
        </div>
        <div class="bg-white shadow rounded-3xl">
            <div class="grid grid-cols-1 gap-4 px-8 py-4 sm:grid-cols-3">
                <div>
                    <label for="name" class="text-sm font-medium text-gray-700">اسم المرشح</label>
                    <div class="mt-1">
                        <input type="text" name="name" id="name" x-model="candidate.name"
                            class="w-full px-4 py-2 text-sm bg-gray-100 rounded-md shadow-sm" placeholder="" disabled />
                    </div>
                </div>
                <div>
                    <label for="id" class="mt-4 text-sm font-medium text-gray-700">رقم
                        الهوية</label>
                    <div class="mt-1">
                        <input type="text" name="id" id="id" x-model="candidate.nationalId"
                            class="w-full px-4 py-2 text-sm bg-gray-100 rounded-md shadow-sm" placeholder="N/A"
                            disabled />
                    </div>
                </div>
            </div>
            <div class="px-8 py-4" x-show="showFormProfile">
                <span class="text-[#696F79]">الوصول إلى الملف التعريفي للمرشح: 
                    <a target="_blank" :href="'https://portal.tuwaiq.edu.sa/resume/' + candidate.profileUrl + '/view'"
                        class="text-primary">من هنا</a>
                </span>
            </div>
            <div class="flex p-4">
                <button
                    class="px-4 py-2 text-white transition-colors duration-300 ease-in-out shadow bg-primary hover:bg-primary/90 ms-auto rounded-xl"
                    x-on:click="showForm=true">
                    تقييم المرشح
                </button>
            </div>
        </div>
    </div>
    <div x-show="showForm">
        <div class="py-4">
            <button
                class="px-4 py-2 text-white transition-colors duration-300 ease-in-out shadow rounded-xl bg-primary hover:bg-primary/90"
                x-on:click="showForm = false">
                العودة للمرشح
            </button>
        </div>
        <div class="flex flex-col gap-8 py-8 bg-white shadow rounded-3xl px-14">
            <div>
                <h1 class="text-2xl font-medium">معلومات المرشح</h1>
                <div class="grid grid-cols-1 gap-4 py-4 sm:grid-cols-2">
                    <div>
                        <label for="name" class="text-sm font-medium text-gray-700">الاسم</label>
                        <div class="mt-1">
                            <input type="text" name="name" id="name" x-model="candidate.name"
                                class="w-full px-4 py-2 text-sm bg-gray-100 rounded-md shadow-sm" placeholder=""
                                disabled />
                        </div>
                    </div>
                    <div>
                        <label for="id" class="mt-4 text-sm font-medium text-gray-700">رقم
                            الهوية</label>
                        <div class="mt-1">
                            <input type="text" name="id" id="id" x-model="candidate.nationalId"
                                class="w-full px-4 py-2 text-sm bg-gray-100 rounded-md shadow-sm" placeholder="N/A"
                                disabled />
                        </div>
                    </div>
                </div>
                <div class="py-4" x-show="showFormProfile">
                    <span class="text-[#696F79]">الوصول إلى الملف التعريفي للمرشح: <a target="_blank" 
                            :href="'https://portal.tuwaiq.edu.sa/resume/' + candidate.profileUrl + '/view'"
                            class="text-primary">من هنا</a>
                    </span>
                </div>
            </div>
            <div class="h-1 border-b -mx-14"></div>
            <h1 class="pb-4 -mt-4 text-2xl font-medium">معايير التقييم</h1>

            <div class="grid items-center grid-cols-1 gap-24 md:grid-cols-2">
                <template x-for="(question, index) in questions">
                    <div class="flex flex-col">
                        <label x-text="question.question" class="text-sm text-gray-700"></label>
                        <div class="mt-4">
                            <template
                                x-if="Array.isArray(question.answers) && typeof question.answers[0] === 'string' && !question.type">
                                <!-- Render select for string answers -->
                                @* <select x-model="answers[question.question]"
                                class="w-full px-4 py-2 text-sm bg-white border border-[#8692A6] rounded-md shadow-sm
                                text-[#696F79]">
                                <template x-for="answer in question.answers">
                                <option x-text="answer"></option>
                                </template>
                                </select> *@
                                <div id="tagify" x-ref="tagifyElement" x-model='answers[question.question]'
                                    class="min-w-full px-2"></div>
                            </template>
                            <template x-if="Array.isArray(question.answers) && typeof question.answers[0] === 'number'">
                                <div class="flex gap-4">
                                    <!-- Render number input for number answers -->
                                    <div class="-mt-1">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M9.93368 0C4.41036 0 0 4.47638 0 10C0 15.5236 4.47638 20 10 20C15.5236 20 20 15.5236 20 10C20 4.47638 15.4573 0 9.93398 0H9.93368ZM6.59873 5.14476C7.63504 5.14476 8.47614 5.9835 8.47614 7.02217C8.47614 8.05848 7.6374 8.89958 6.59873 8.89958C5.56006 8.89958 4.72132 8.06084 4.72132 7.02217C4.72132 5.9835 5.5636 5.14476 6.59873 5.14476ZM13.8032 13.3949H6.0745C5.57171 13.3949 5.16596 12.9892 5.16596 12.4864C5.16596 11.9836 5.57171 11.5778 6.0745 11.5778H13.8007C14.3035 11.5778 14.7093 11.9836 14.7093 12.4864C14.7093 12.9892 14.3036 13.3949 13.8032 13.3949ZM13.2791 8.89703C12.2428 8.89703 11.4017 8.0583 11.4017 7.01962C11.4017 5.98331 12.2404 5.14222 13.2791 5.14222C14.3177 5.14222 15.1565 5.98095 15.1565 7.01962C15.1577 8.0583 14.3154 8.89703 13.2791 8.89703Z"
                                                fill="#6A5C9F" />
                                        </svg>
                                    </div>
                                    <div name="numberSlider" class="flex-1 slider-styled" :question="question.question"
                                        :min="Math.min.apply(null, question.answers)"
                                        :max="Math.max.apply(null, question.answers)">
                                    </div>
                                    <div class="-mt-1">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10 0C4.47668 0 0 4.47638 0 10C0 15.5236 4.47638 20 10 20C15.5236 20 20 15.5236 20 10C20 4.47638 15.5236 0 10 0ZM4.83041 7.02332C4.83041 5.98701 5.66914 5.14591 6.70781 5.14591C7.74413 5.14591 8.58522 5.98465 8.58522 7.02332C8.58522 8.05963 7.74649 8.90073 6.70781 8.90073C5.66914 8.89718 4.83041 8.05845 4.83041 7.02332ZM10.109 16.4506C7.52538 16.4506 5.42429 14.3485 5.42429 11.7659C5.42429 11.3483 5.76381 11.0088 6.18141 11.0088C6.599 11.0088 6.93852 11.3483 6.93852 11.7659C6.93852 13.5167 8.36166 14.9364 10.109 14.9364C11.8598 14.9364 13.2795 13.5133 13.2795 11.7659C13.2795 11.3483 13.6191 11.0088 14.0366 11.0088C14.4542 11.0088 14.7938 11.3483 14.7938 11.7659C14.7973 14.3484 12.6951 16.4506 10.109 16.4506ZM13.3858 8.89734C12.3495 8.89734 11.5084 8.0586 11.5084 7.01993C11.5084 5.98362 12.3472 5.14252 13.3858 5.14252C14.4221 5.14252 15.2632 5.98126 15.2632 7.01993C15.2632 8.0586 14.4245 8.89734 13.3858 8.89734Z"
                                                fill="#6A5C9F" />
                                        </svg>
                                    </div>
                                </div>
                            </template>
                            <template x-if="Array.isArray(question.answers) && question.type === 'radio'">
                                <div class="flex gap-8">
                                    <template x-for="answer in question.answers">
                                        <div>
                                            <input type="radio" :id="answer" name="roomStatus" :value="answer"
                                                class="hidden peer" required x-model="answers[question.question]">
                                            <label :for="answer"
                                                class="flex items-center gap-2 py-2 cursor-pointer group">
                                                <div
                                                    class="w-5 h-5 rounded-full bg-gray-100 hover:bg-primary/50 peer-checked:group-[]:bg-primary group transition-colors duration-300 ease-in-out">

                                                    <svg class="w-5 h-5 p-1 peer-checked:group-[]:flex hidden"
                                                        viewBox="0 0 24 24" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                            stroke-linejoin="round">
                                                        </g>
                                                        <g id="SVGRepo_iconCarrier">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M21.5821 5.54289C21.9726 5.93342 21.9726 6.56658 21.5821 6.95711L10.2526 18.2867C9.86452 18.6747 9.23627 18.6775 8.84475 18.293L2.29929 11.8644C1.90527 11.4774 1.89956 10.8443 2.28655 10.4503C2.67354 10.0562 3.30668 10.0505 3.70071 10.4375L9.53911 16.1717L20.1679 5.54289C20.5584 5.15237 21.1916 5.15237 21.5821 5.54289Z"
                                                                fill="white"></path>
                                                        </g>
                                                    </svg>
                                                </div>
                                                <span class="-mt-1" x-text="answer"></span>
                                            </label>

                                        </div>
                                    </template>
                                </div>
                            </template>

                        </div>
                    </div>
                </template>
            </div>
            <div>
                <h1 class="py-2">ملاحظات عامة</h1>
                <textarea name="notes" id="notes" required cols="30" rows="5" x-model="candidate.notes"
                    class="w-full bg-white border border-[#8692A6] text-[#696F79] rounded-md px-2 outline-none"
                    placeholder=""></textarea>
            </div>
            <div class="flex pt-8">
                @* <button *@
                @*     class="px-24 py-2 text-white transition-colors duration-300 ease-in-out shadow bg-primary hover:bg-primary/90 rounded-xl" *@
                @*     x-on:click="submitAnswers(answers)"> *@
                @*     إرسال *@
                @* </button> *@
            </div>
        </div>
    </div>
</div>