@page "/candidateCreate"
@model TuwaiqRecruitment.Pages.CandidateCreate


@{
    ViewBag.Title = "Add Candidate";
}

<div class="max-w-4xl py-8 mx-auto bg-white shadow-sm min-h-[70vh] rounded-3xl flex flex-col gap-4">
    <div class="flex justify-between px-4">

        <h1 class="text-2xl font-medium">
            اضافة مرشح جديد
        </h1>
    </div>
    
    <form method="post">
        @if (ViewBag.Message != null)
        {
            <div class="bg-green-100 text-green-900 p-5 rounded">@ViewBag.Message</div>
        }
        <div class="p-6 space-y-6">
            <div class="w-1/2">
                <label asp-for="NationalId" class="block text-sm font-medium text-primary">رقم الهوية</label>
                <input type="text" asp-for="NationalId"
                       class="block w-full px-3 py-2 mt-1 text-sm text-gray-900 placeholder-gray-400 border border-gray-300 rounded-md focus:ring-primary focus:border-primary"
                       placeholder="أدخل رقم الهوية">
            </div>
        </div>
        <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b rtl:space-x-reverse ">
            <button type="submit"
                    class="px-4 py-2 text-white transition-all duration-300 ease-in-out shadow rounded-2xl bg-primary hover:scale-110">
                إضافة
            </button>
            <a asp-page="./candidates"
               class="px-4 py-2  transition-all duration-300 ease-in-out shadow rounded-2xl text-gray-500 hover:bg-gray-100 hover:text-gray-900 focus:z-10 focus:outline-none focus:ring-4 focus:ring-blue-300  hover:scale-110 ">
                إلغاء
            </a>
        </div>
    </form>
</div>
