@page "/CheckIdentities"
<div x-data="CheckIdentitiesData" x-cloak>
    <div class="w-full py-8 mx-auto bg-white shadow-sm min-h-[70vh] rounded-3xl flex flex-col gap-4">
        <div class="relative w-full min-w-[400px]">

            <h1 class="text-2xl font-medium py-2">
                ارقام الهويات
            </h1>
            <div class="flex flex-col w-full col-span-2 gap-2">

                <div class="w-full mb-6 p-10">
                    <hr class="w-full h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
                    <h3 class="text-center">
                        لاستيراد ارقام الهويات عن طريق ملف الاكسل
                    </h3>
                </div>

                <div class="flex items-center justify-center w-full p-10">
                    <label for="dropzone-file" class="relative flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"></path>
                            </svg>
                            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">اضغط هنا</span> لرفع نموذج الهويات</p>
                            <p class="text-xs text-gray-500 dark:text-gray-400">xlsx</p>
                        </div>
                        <input id="dropzone-file" class="absolute top-0 left-0 w-full h-full opacity-0 cursor-pointer" type="file" x-on:change="handleImportChange($event)" name="handle">
                    </label>
                </div>

                <a target="_blank" href="/templates/Identities.xlsx" class="w-48 h-12 py-2 text-center text-white transition-all duration-300 ease-linear rounded-lg bg-primary-600 hover:scale-110 hover:cursor-pointer">
                    اضغط هنا لتحميل ارقام الهويات
                </a>

                <hr class="w-full h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">

            </div>
            <div class="m-10 p-5">
                <textarea x-model="candidates" rows="30"
      class="peer h-full min-h-[100px] w-full  rounded-[7px] border border-blue-gray-200  bg-transparent px-3 py-2.5 font-sans text-sm font-normal text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-gray-900 disabled:border-0 disabled:bg-blue-gray-50"
      placeholder=" "></textarea>

            </div>

            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b rtl:space-x-reverse ">
                <button
                    x-on:click="checkIdentities()"
                    class="px-4 py-2 text-white transition-all duration-300 ease-in-out shadow rounded-2xl bg-primary hover:scale-110">
                    تحقق
                </button>

            </div>
        </div>
    </div>
</div>