@page
@model IndexModel
@{
    ViewData["Title"] = "برنامج طويق للمهام المستعجلة";
}

<div x-data="indexData" x-cloak>
    <div class="w-full py-8 mx-auto bg-white shadow-sm min-h-[70vh] rounded-3xl flex flex-col gap-4">
        <div class="relative w-full min-w-[400px]">  
            <div x-ref="table" class="px-2"></div>

        </div>
    </div>
</div>